*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: black;
  color: whitesmoke;
  /* margin-right: 100rem;
  margin-left: 10rem; */
  display: flex !important;

}

.container {
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items:  center;
  color: rgb(172, 46, 172);
  padding: 3rem;
  font-size: 3rem;
}

input{
  min-width: 100px;
  height: 2rem;
  border-radius: 10px 0 10px 0;
  border: solid 2px rgb(89, 199, 183);
  padding-left:  1rem;
  color:  rgb(253, 0, 0);
  font-size: 1rem;
  outline: none;
}

::placeholder {
  color: rgb(89, 199, 183);
}

.todo-value{
  position: absolute;
  margin-right: 30rem;
}

.todo-container{
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center !important;
  justify-content: center;
  overflow: auto;
}


